@import url(./globo.css);

header{
    margin: 30px 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > img{
    width: 185px;
    height: 41px;
}

header > .links{
    width: 430px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
}

header > .links > a{
    font-size: 16px;
}

header > .icons{
    width: 247px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
}

main{
    width: 100%;
    height: 717px;
    background-image: url(../assets/images/background.svg);
    background-size: cover;
    display: flex;
    justify-content: end;
    align-items: center;
}   

main > article{
    width: 643px;
    padding: 62px 41px 37px 41px;
    background-color: #FFF3E3;
    border-radius: 10px;
    margin-right: 58px;
}

main > article > p {
    width: 520px;
    font-size: 18px;
}

main > article > p > span{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 3px;
}

main > article > h1{
    width: 450px;
    font-size: 52px;
    color: var(--color-primary);
    margin: 4px 0 17px 0;
}

main > article > button{
    padding: 24px 78px;
    font-size: 16px;
    font-weight: 700;
    color: var(--color-white);
    background-color: var(--color-primary);
    margin-top: 46px;
    cursor: pointer;
}

.browse{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.browse > .range{
    text-align: center;
    margin: 57px 0 62px 0;
}

.browse > .range > h2{
    font-size: 32px;
    font-weight: bold;
}

.browse > .range > p{
    font-size: 20px;
}

.browse > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
}

.browse > ul > li{
    width: 381px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    transition: 0.3s;
}

.browse > ul > li:hover{
    transform: scale(1.05);
}

.browse > ul > li > a{
    font-size: 24px;
    font-weight: 600;
}

.our-products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.our-products > h2{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 56px 0 36px 0;
}

.our-products > .our-cards > ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 34px;
    gap: 34px;
    list-style: none;
}

.our-products > .our-cards > ul > li{
    cursor: pointer;
    background-color: var(--color-lightBg);
    position: relative;
    transition: 0.3s;
}

.our-products > .our-cards > ul > li:hover{
    transform: scale(1.05);
}

.greenAccents{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    
    left: 69%;
    top:13px;
    color: var(--color-white);
    background-color: var(--color-greenAccents);
    padding:12px;

    width: 50px;
    height: 50px;

    border-radius: 50%;
}

.redAccents{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    
    left: 69%;
    top:13px;
    color: var(--color-white);
    background-color: var(--color-redAccents);
    padding:12px;

    width: 50px;
    height: 50px;

    border-radius: 50%;
}

.our-products > .our-cards > ul > li > .cards-content{
    margin: 16px 20px 30px 16px;
}

.our-products > .our-cards > ul > li > .cards-content > h3{
    font-size: 24px;
    font-weight: 600;
    color: var(--color-gray);
}

.our-products > .our-cards > ul > li > .cards-content > p{
    font-size: 16px;
    color: var(--color-gray3);
    margin: 8px 0;
}

.our-products > .our-cards > ul > li > .cards-content > .value{
    display: flex;
    align-items: center;
    gap: 16px;
}

.our-products > .our-cards > ul > li > .cards-content > .value > h4{
    font-size: 20px;
    font-weight: 600;
}

.our-products > .our-cards > ul > li > .cards-content > .value > p{
    font-size: 16px;
    color: var(--color-gray4);
    text-decoration: line-through;
}

.our-products > button{
    margin: 32px 0 69px 0;
    padding: 12px 78px;
    font-size: 16px;
    font-weight: 600;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    cursor: pointer;
}

.inspirations{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px 0 40px 0;
    background-color: #FCF8F3;
    gap: 42px;
}

.inspirations > article{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inspirations > article > h2{
    width: 422px;
    align-self: start;
    font-size: 40px;
    font-weight: bold;
    color: var(--color-gray);
}

.inspirations > article > p{
    width: 368px;
    align-self: start;
    font-size: 16px;
    font-weight: 500;
    color: var(--color-gray2);
    margin: 7px 0 25px 0    ;
}

.inspirations > article > button{
    color: var(--color-white);
    background-color: var(--color-primary);
    padding: 12px 36px;
    align-self: start;
    cursor: pointer;
}

.inspirations > .cards{
    width: 794px;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 16px;
    position: relative;
}

.inspirations > .cards > .sala img {
    display: flex;
    align-self: start;
}

.inspirations > .cards > .sala > img {
    display: flex;
    align-self: start;
    transition: 0.3s;
}

.inspirations > .cards > .sala img:hover {
    transform: scale(1.05);
}

.inspirations > .cards > .background{
    display: flex;
    align-items: end;
    position: absolute;
    top: 420px;
    left: 15px;    
    z-index: 1;
}

.inspirations > .cards > .background > button{
    display: flex;
    justify-content: center;
    width: 32px;
    height: 48px;
    padding: 8px 12px;
    background-color: var(--color-primary);
    cursor: pointer;
}

.inspirations > .cards > .inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: end;
    position: absolute;
    top: 445px;
    left: 45px;
    z-index: 2;
}

.inspirations > .cards > .indicador > button{
    cursor: pointer;
}

.inspirations > .cards > .inner > p{
    font-size: 16px;
    font-weight: 500;
    color: var(--color-gray2);
}

.inspirations > .cards > .inner > h3{
    width: 111px;
    font-size: 28px;
    font-weight: 600;
    color: var(--color-gray);
}

.inspirations > .cards > .indicador{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: end;
    position: absolute;
    top: 260px;
    left: 500px;
    z-index: 3;
}

.share-setup {
    max-width: 1440px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
}

.share-text > p{
    font-size: 20px;
    font-weight: 600;
    color: var(--color-gray2);
    margin-bottom: 8px;
}

.share-text h2 {
    font-size: 40px;
    font-weight: bold;
    color: var(--color-gray);
    margin-bottom: 40px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.image-grid > img {
    width: 100%;
    height: auto;
    align-self: center;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.image-grid img:hover {
    transform: scale(1.05);
}

#estante {
    height: 410px;
}
#sofa {
    height: 500px;
}

#bed-bedroom {
    height: 200px;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 61px 100px 43px 100px;
    border-top: 1px solid var(--color-gray4);
}

footer > section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    border-bottom: 1px solid var(--color-gray4);
}

footer > section > .about{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-right: 200px;
}
footer > section > .about > h3{
    font-size: 24px;
    font-weight: bold;
    color: var(--font-color);
    margin-bottom: 50px;
}

footer > section > .about > .content-about{
    margin-bottom: 202px;
}

footer > section > .about > .content-about > p{
    font-size: 16px;
    color: var(--color-gray3);
}

footer > section > nav{
    display: flex;
    flex-direction: column;
    align-self: start;
}

footer > section > nav > h4{
    font-size: 16px;
    font-weight: 500;
    color: var(--color-gray3);
    margin-bottom: 55px;
}

footer > section > nav > a{
    font-size: 16px;
    font-weight: 500;
    color: var(--font-color);
    margin-bottom: 46px;
}

footer > section > nav > .input{
    display: flex;
    width: 286px;
    gap: 11px;
}

footer > section > nav > .input > input{
    width: 200px;
    border-bottom: 1px solid black;
}

footer > section > nav > .input > button{
    color: var(--font-color);
    font-weight: 600;
    border-bottom: 1px solid black;
    cursor: pointer;
}

footer > p{
    display: flex;
    font-size: 16px;
    font-weight: 500;
    align-self: self-start;
    margin: 40px 35px;
}